.form-container{
  display: flex;
  align-items: center;
  justify-content: center;
}
.inputForm{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 350px;
  padding: 2rem;
  margin:2rem ;
 
  /* border-radius: 10px; */
  
  background: rgba(88, 127, 201, 0.32);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 100,0.8);
  backdrop-filter: blur(2.1px);
  -webkit-backdrop-filter: blur(2.1px);
}
