.inputForm{
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 2rem; */
  /* margin:2rem 12rem; */
  border: 1px solid rgba(54, 74, 203, 0.368);
  /* border-radius: 10px; */
  
 
}
 