.navbar{
  background: #6f5acd;
  color: rgb(255, 255, 255);
  border-radius: 20px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 10px;
  font-weight:500;
 
}
.form-control{
  border: 0px;
  outline: none;
  border-radius: 20px;
  padding: 9px;
  width: 18rem;
}
.btn{
  border: 0px;
  outline :none;
  border-radius: 20px;
}
.navbar-nav{
  gap: 20px;
}



